// =========== Home  Page -- Areas of expertise panel============

	.boxDark {background:#333; border:3px solid #a0c237; padding:40px 20px;}

	#section-topls {color: #cccccc;}
	#section-topls .mobile-areas-expertise {padding:20px;}
	#section-topls .iconLabel {font-size:1.9rem; line-height:1.5em;  margin-bottom:20px; color:#fff;}
	#section-clients h3, #section-topls h3 {font-family:'Open Sans'; margin:50px 0 20px 0; color:#fff;}
	#section-clients .iconLabel {color:#fff; font-size:1.9rem; line-height:1.5em;}
	#section-clients .callOutText {font-size:1.5rem; background-color:rgba(0, 0, 0, 0.3); color:#fff; padding:40px 50px; margin:50px 0 0 0;}
	#section-clients .arrow-up {position:absolute; top:296px; left:46%;}

	#section-clients .iconEnterprise {width:175px; height:175px; margin:0 auto; background:url('../../files/icon_enterprise.png') center center no-repeat;}
	#section-topls .iconEnterprise {width:100%; height:175px; background:url('../../files/icon_enterprise-gray.png') center center no-repeat;}
	#section-clients .iconEnterprise:hover,  #section-clients .iconEnterprise.in{background:url('../../files/icon_enterprise-on.png') center center no-repeat; cursor:pointer;}

	#section-clients .iconExperience {width:175px; height:175px; margin:0 auto; background:url('../../files/icon_experience.png') center center no-repeat;}
	#section-topls .iconExperience {width:100%; height:175px; background:url('../../files/icon_experience-gray.png') center center no-repeat;}
	#section-clients .iconExperience:hover, #section-clients .iconExperience.in {background:url('../../files/icon_experience-on.png') center center no-repeat; cursor:pointer;}

	#section-clients .iconProduct {width:175px; height:175px; margin:0 auto; background:url('../../files/icon_product.png') center center no-repeat;}
	#section-topls .iconProduct {width:100%; height:175px; background:url('../../files/icon_product-gray.png') center center no-repeat;}
	#section-clients .iconProduct:hover, #section-clients .iconProduct.in {background:url('../../files/icon_product-on.png') center center no-repeat; cursor:pointer;}


	.arrow-up {width:0; height:0;  border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:15px solid rgba(0, 0, 0, 0.3);}
	.center {text-align:center;}

	@media (min-width: 768px) {
		.sm-marginTop30 {margin-top:30px;}
	}
